.auth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: opacity, scale;
    animation: .8s ease appearanceAuth forwards;
    &.disappearance {
        animation: .8s ease disappearanceAuth forwards;
    }
    form {
        display: flex;
        flex-direction: column;
        input,button {
            background: linear-gradient(to bottom right, rgba(107, 107, 107, 0.3), rgba(150, 150, 150, 0.3), rgba(255, 255, 255, .3));
            color: #ffffffc0;
            border: none;
            border-radius: 10px;
            padding: 10px 15px;
            box-shadow: 3px 3px 7px rgba(0, 0, 0, .3),
                        -3px -3px 7px rgba(255, 255, 255, 0.3);
        }
        input {
            font-size: 18px;
            width: 300px;
            margin: 10px 0;
            &:focus {
                outline: none;
            }
        }
        button {
            font-size: 20px;
            font-weight: 600;
            margin-top: 25px;
            cursor: pointer;
        }
    }
}


@keyframes appearanceAuth {
    0% {
        opacity: 0;
        scale: .8;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes disappearanceAuth {
    0% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: .8;
    }
}