.notifications {
    position: absolute;
    color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    z-index: 1000000;
    &__item {
        text-align: center;
        font-size: 18px;
        margin: 10px;
        animation: .8s ease appearanceNotification forwards;
        will-change: opacity, transform;
        &.disappearance {
            animation: .8s ease disappearanceNotification forwards;
        }
    }
}

@keyframes appearanceNotification {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappearanceNotification {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}